.fondo-section{
    background-image: url(../imagenes/img-iniciarsesion/img-fondo-sesion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.formulario {
    opacity: 1;
  }
  
.btn-ingresar {
    padding: 2%;
    border-radius: 10%;
    background: linear-gradient(90deg, rgb(209, 195, 133) 15%, rgb(209, 195, 144) 65%, rgb(166, 154, 103) 100%);
}

.btn-ingresar, .contraseña-registrarse:hover, .recordar:hover {
@extend .hover2;
font-weight: $negrita;
}