main {
    margin-left: 2%;
    margin-right: 2%;
}

.titulo-seccion-hogar {
    font-weight: 900;
    box-shadow: inset 0 -2px 0 yellow;
}

.titulo-productos {
    @extend .textosCentrados;
    background-image: url(../imagenes/img-fondo-producto.webp);
    background-size: cover top;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: beige;
    padding: 10%;
    margin-bottom: 0%;
}

.nav {
    background-color: $colorFondoPagina;
    font-size: $fuenteGrande;
    padding-left: 2%;
}


.nav-secciones {
    color: black;
    background-color: #f8f4f0;
    box-shadow: 5px 2px 5px rgb(160, 148, 132);
    margin-right: 5%;
}

.nav-secciones:hover {
    color: black;
}

.secciones-living {
    @extend .btn-secciones;
    font-size: $fuenteGrande;
    font-weight: $negrita;
    padding: 2%;
    width: 100%;
    border-radius: 5px;
    margin-top: 5%;
}

.secciones-sillones {
    background-image: url(../imagenes/img-fondo-producto.webp);
    background-size: cover center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: beige;
    width: 100%;
    padding: 1.5%;
    margin-top: 2%;
}

.secciones-sillones:hover {
    @extend .hover3;
}

.secciones-sillones,
.secciones-living {
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.tarjeta-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 3px rgb(211, 211, 211);
}

.card-title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.img-Producto {
    width: 80%;
    height: auto;
    margin-top: 2%;
}

.precio-Producto {
    margin: 0 auto;
    width: fit-content;
    padding: 1%;
    margin-bottom: 4%;
    background-color: whitesmoke;
    color: black;
    box-shadow: 3px 3px 3px rgb(112, 111, 111);
}

.btn-Carrito {
    @extend .btn-carrito;
}

.btn-Carrito:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform: translateX(4px);
    transition: all 2s;
}

@media (max-width: 450px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        margin-bottom: 10px;
    }
    
}