//variables globales
//Fuentes
$fuente: 'Roboto Mono', monospace;
$fuenteGrande: larger;
$fuenteSmall: small;
//Fondos
$colorFondoPagina: #f8f4f0;
$colorFondoFooter: rgba(214, 208, 208, 0.801);
$colorFondoBienvenida: rgb(228, 215, 144);
$fondoSecciones: url('../imagenes/img-fondo-producto.jpg');
//Colores letras
$negrita: bold;
$blanco: #f8f4f0;
//Sombras
$sombraBrown: 5px 2px 5px rgb(145, 122, 91);
$sombraNav: 3px 3px 3px #868686;
$textShadow: 2px 2px 4px rgba(0, 0, 0, 0.4);