
.casilla-formulario input,
  .casilla-formulario textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0;
  }

  .casilla-formulario input:focus,
  .casilla-formulario textarea:focus {
    outline: none;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
  }

.btn-contacto {
    background-color: #e2d772;
    padding-right: 3%;
    padding-left: 3%;
    
}

.btn-contacto:hover {
    background-color: #ddce47;
    font-weight: bold;
}